*{
	margin: 0;
	padding: 0;
}

body{
	background-color: black;
}

header{
	background-color: #870001; 
	padding: 5%;
}
.titulo{
	font-family: Tekton Pro;
	font-size: 5em;
	color: #870001;
	line-height: 0px;
	-webkit-text-stroke: 2px white;

}

nav{
	padding: 3px;
	float: center;
	margin-top: 5px; 
	margin-bottom: 5px;
	
}
#lista1 li{
    display: inline;
    padding-left: 7px;
    padding-right: 7px;
}
a {
    color: white;
    text-decoration:none;
    font-family: Bahnschrift SemiBold;
}

article{
	height: 50%;

	margin-left: 10px;
}
#frace{
	margin: 1%;
	width: 50%;
	height: 40%;
}

footer{
	background-color: #870001;
	color: white;
	margin-top: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-family: Bahnschrift SemiBold;
}
